<footer>
	<!--  <div class="divider text-center"></div>-->

	<div class="container-fluid">
		<ul class="social-icons text-center">
			<li><a href="https://twitter.com/1277217993l" title="Twitter"><i class="fa fa-twitter twitter" aria-hidden="true"></i></a></li>
        <li><a href="https://github.com/tom0li" title="GitHub"><i class="fa fa-github github" aria-hidden="true"></i></a></li>
        <li><a href="https://www.linkedin.com/in/稳-沉-417a93126?trk=nav_responsive_tab_profile" title="LinkedIn"><i class="fa fa-linkedin linkedin" aria-hidden="true"></i></a></li>
		</ul>
	</div>
	<div class="text-center copy">tom0li &copy; <span id="currentYear"></span></div>
</footer>
