@-webkit-keyframes fade-in {
  0% {
      opacity: 0;
      -webkit-transform: translateY(-160px);
      -ms-transform: translateY(-160px); /* Internet Explorer */
      -moz-transform: translateY(-160px); /* Firefox */
      transform: translateY(-160px);
  }

  50% {
      opacity: 1;
      -webkit-transform: translateY(-80px);
      -ms-transform: translateY(-80px); /* Internet Explorer */
      -moz-transform: translateY(-80px); /* Firefox */
      transform: translateY(-80px);
  }

  100% {
    -webkit-transform: translateY(-40px);
    -ms-transform: translateY(-40px); /* Internet Explorer */
    -moz-transform: translateY(-40px); /* Firefox */
    transform: translateY(-40px);
      opacity: 0;
  }
}
.text-animated-one {
    display:inline;
    overflow: hidden;
    position:absolute;
    left: 250px;
    -webkit-animation:fade-in 3s infinite;
    color: $orange;
}
.text-animated-two {
    opacity:0;
    overflow: hidden;
    display:inline;
    position:absolute;
    left: 250px;
    -webkit-animation: fade-in 3s infinite;
    -webkit-animation-delay: 1.5s;
    color: $blue-light;
}

.aggettivi {
    display:inline;
    position: relative;

}
